.back1{
    height: 50em;
    background-image: url('src\assets\plain.jpg');
    
      background-repeat: no-repeat;
      background-position: center center;
      background-attachment: fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  
  }
h1{
    text-align: center;
    margin-top: 0%;
}
input.ng-invalid.ng-touched{
    border: 1px solid red;
}
